#Ignore Gradle cache
.gradle

#Ignore IDE project files
.settings
.project
.classpath
/bin/
/output/
/build/
/out/

#Ignore non-project files
*.log
*.7z
*.txt
*.xls*

# Eclipse
.classpath
.project
.settings/
bin/

# IDEA
.idea/
*.iws
*.ipr
*.iml
